html    {
    height:100%;
}
body    {
    background: #00D47E; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(135deg, #B1ADD9, #00D47E); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(135deg, #B1ADD9, #00D47E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(135deg, #B1ADD9, #00D47E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(135deg, #B1ADD9, #00D47E); /* Standard syntax (must be last) */
    background-attachment:fixed;
}

audio   {
    margin-top:2%;
    opacity: 0.2;
}

audio:hover {
    opacity:1;
}

h3, h1 {
    text-align: center;
}

#blok   {
     background-color: rgba(255,255,255,.0);
}

#blok:hover {
    background-color: rgba(255,255,255,.4);
}

.title {
    color: white;
    font-weight: 600;
}
#Butt {
    font-size:2em
}
